<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Películas</title>
    <link rel='stylesheet' href='/css/style.css' />

</head>

<body>
    <figure>
        <img src="/img/logo-DH.png" alt="Logo Digital House">
    </figure>
    <h1>LISTADO DE PELÍCULAS</h1>
    <ul>
        <% for( let i = 0; i < movies.length; i++ ) { %>
        <li>
                <div style="display: flex; width: 600px;">
                    <a href="/movies/detail/<%= movies[i].id %>"><%= movies[i].title %></a>
                    <div style="display: flex;">
                    <form action="/movies/edit/<%= movies[i].id %>">
                        <button type="submit" style="margin-left: 20px;"> Editar </button>
                    </form>
                    <form action="/movies/delete/<%= movies[i].id %>">
                        <button type="submit" style="margin-left: 20px;"> Eliminar </button>
                    </form>
                    </div>
                </div>
        </li>
        <% } %>

    </ul>
</body>

</html>